.iq-icon-box {
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  margin-right: 10px;
  font-size: 26px;
  text-decoration: none;
}
.iq-waves-effect {
  position: relative;
}
.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgb(30, 61, 115, 0.1);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
  animation: rippleDrop .6s linear;
}
@keyframes rippleDrop {
  100% {
      transform: scale(2);
      opacity: 0;
 }
}
.iq-sidebar {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 260px;
  height: 100%;
  background: var(--iq-light-card);
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
}
.iq-sidebar .iq-sidebar-logo {
  float: none;
  width: 100%;
}
#sidebar-scrollbar {
  height: 100vh;
}
.scroll-content div.p-3 {
  height: 100px;
}
.iq-sidebar-menu .iq-menu .iq-menu-title {
  display: block;
  color: var(--iq-body-text);
  font-size: 15px;
  position: relative;
  padding: 15px;
  font-weight: 500;
  line-height: 18px;
}
.iq-sidebar-menu .iq-menu .iq-menu-title i {
  display: none;
}
.iq-sidebar-menu {
  position: relative;
}
.iq-sidebar-menu .iq-menu {
  margin: 0 15px;
  padding: 0;
  list-style-type: none;
}
.iq-sidebar-menu .iq-menu li {
  list-style-type: none;
  position: relative;
  white-space: nowrap;
  border-radius: 5px;
  margin-bottom: 10px;
}
.iq-sidebar-menu .iq-menu li.active {
  background: var(--iq-light-primary);
}
.iq-sidebar-menu .iq-menu li li {
  margin: 0;
  background: transparent !important;
}
.iq-sidebar-menu .iq-menu li a {
  font-size: 14px;
  white-space: nowrap;
  display: block;
  color: var(--iq-body-text);
  position: relative;
  padding: 0;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
}
.iq-sidebar-menu .iq-menu li li a {
  font-size: 14px;
}
.iq-sidebar-menu .iq-menu li a i {
  font-size: 20px;
  margin-right: 10px;
  vertical-align: middle;
  width: 20px;
  display: inline-block;
  float: left;
}
.iq-sidebar-menu .iq-menu li li a i {
  font-size: 16px;
}
.iq-sidebar-menu .iq-menu li a span {
  white-space: nowrap;
  padding: 0;
  display: inline-block;
  float: left;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  transition: none;
}
.iq-sidebar-menu .iq-menu li a .iq-arrow-right {
  margin-right: 10px;
  margin-left: auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.iq-sidebar-menu .iq-menu li a:hover {
  color: var(--iq-primary);
}
.iq-sidebar-menu .iq-menu > li.active>a {
  color: var(--iq-primary);
  text-decoration: none;
  padding: 0;
}
.iq-search-bar .searchbox .search-link {
  position: absolute;
  left: 15px;
  top: 6px;
  font-size: 16px;
}
.iq-sidebar-menu .iq-menu li a[aria-expanded="true"] {
  color: var(--iq-primary);
  text-decoration: none;
  border-radius: 5px 5px 0 0;
  transition: none;
}
.iq-sidebar-menu .iq-menu li.active a[aria-expanded="true"] {
  box-shadow: none;
}
.iq-sidebar-menu .iq-menu li a[aria-expanded="true"] .iq-arrow-right {
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.iq-sidebar-menu .iq-menu li .iq-submenu li a:hover, .iq-sidebar-menu .iq-menu li.active .iq-submenu li>a {
  background: transparent;
}
.iq-sidebar-menu .iq-menu li.active .iq-submenu li.active>a {
  color: var(--iq-primary);
  border-radius: 0;
}
.iq-sidebar-menu .iq-menu li.active .iq-submenu li:last-child>a {
  border-radius: 0 0 5px 5px;
}
.iq-sidebar-menu .iq-menu li .iq-submenu li>a::before {
  display: none;
}
body.sidebar-main .iq-sidebar .iq-menu li a[aria-expanded="false"].collapsed {
  border-radius: 5px;
}
.iq-sidebar-menu .iq-menu li a i.iq-arrow-left, .iq-sidebar-menu .iq-menu li > a > i.iq-arrow-left {
  background: transparent;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
}
.iq-sidebar-menu .iq-menu li a[aria-expanded="true"] i.iq-arrow-left, .iq-sidebar-menu .iq-menu li.active > a > i.iq-arrow-left, .iq-sidebar-menu .iq-menu li.active-menu > a > i.iq-arrow-left {
  background: var(--iq-primary);
  color: var(--iq-white);
}
.iq-sidebar-menu .iq-menu li li a i {
  font-size: 15px;
}
.iq-sidebar-menu .iq-menu li ul {
  padding-left: 0;
}
.sidebar-main .iq-sidebar-menu .iq-menu li ul {
  padding-left: 0;
}
.iq-sidebar-menu .iq-menu li ul li a {
  color: var(--iq-body-text);
  padding: 12px 13px;
}
.iq-sidebar-menu .iq-menu li ul a:hover {
  color: var(--iq-primary);
  text-decoration: none;
  background: transparent;
}
.iq-sidebar-menu .iq-menu li ul.iq-submenu-data li > a {
  padding-left: 50px;
}
.iq-sidebar-menu .iq-menu li.active .iq-submenu li a[aria-expanded="true"], .iq-sidebar-menu .iq-menu li .iq-submenu li a[aria-expanded="true"] {
  box-shadow: none;
}
.iq-sidebar-menu .iq-menu .iq-submenu .iq-submenu-data {
  box-shadow: none;
}
.iq-sidebar-menu .iq-menu li.active ul.iq-submenu-data li.active>a {
  background: var(--iq-light-primary);
  color: var(--iq-primary);
  border-radius: 0;
}
.iq-sidebar-menu .iq-menu li ul.iq-submenu-data li {
  margin: 0;
}
body.sidebar-main .iq-sidebar .iq-sidebar-menu .iq-menu li ul.iq-submenu-data li > a, body.sidebar-main .iq-sidebar:hover .iq-sidebar-menu .iq-menu li ul.iq-submenu-data li > a {
  padding-left: 20px;
}
.iq-top-navbar {
  padding: 0 15px;
  min-height: 73px;
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  width: calc(100% - 260px);
  display: inline-block;
  z-index: 999;
  background: var(--iq-light-card);
  margin: 0;
  transition: all 0.45s ease 0s;
  box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
}
body.sidebar-main .iq-top-navbar {
  width: calc(100% - 80px);
}
.iq-top-navbar.fixed-header {
  margin: 0;
  right: 0;
  width: calc(100% - 260px);
  border-radius: 0;
  transition: all 0.45s ease 0s;
}
.iq-top-navbar .iq-navbar-custom .navbar-breadcrumb {
  display: block;
  margin-left: 30px;
  padding: 10px 0;
}
.iq-top-navbar .breadcrumb .breadcrumb-item.active {
  color: var(--iq-body-text);
}
.iq-top-navbar .breadcrumb {
  background: transparent;
  padding: 0;
  margin: 0;
}
.iq-top-navbar .breadcrumb li {
  list-style-type: none;
  font-size: 12px;
}
.breadcrumb-item+.breadcrumb-item::before {
  content: "\ea5f";
  font-family: 'remixicon';
  font-size: 14px;
  vertical-align: sub;
  color: var(--iq-body-text);
}
.iq-top-navbar .breadcrumb li a, .iq-top-navbar .breadcrumb li a:hover {
  text-decoration: none;
}
.navbar-list {
  margin: 0;
  padding: 0;
  float: right;
}
.navbar-list li {
  float: left;
  list-style-type: none;
  position: relative;
}
.navbar-list li > .dropdown .dropdown-menu {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.navbar-list li .dropdown-toggle::after {
  display: none;
}
.navbar-list li>a.language-title {
  font-size: 16px;
  margin: 23px 0;
}
.navbar-list li>a {
  font-size: 18px;
  padding: 0 15px;
  color: var(--iq-primary);
  display: block;
}
.navbar-list li.nav-item.nav-icon > a {
  color: var(--iq-white);
  padding: 0;
  height: 35px;
  width: 35px;
  text-align: center;
  font-size: 14px;
  line-height: 35px;
  margin: 20px 10px;
}
.navbar-list li:last-child>a {
  padding-right: 20px;
}
.menu-tag {
  position: absolute;
  background: var(--iq-body-text);
  color: var(--iq-white);
  display: inline-block;
  top: 18px;
  left: 18px;
  font-size: 12px;
  border-radius: 90px;
  line-height: normal;
  height: 18px;
  width: 18px;
  line-height: 18px;
  text-align: center;
  display: inline-block;
}
.navbar-list li a:hover {
  text-decoration: none;
}
.navbar-list li > a > img {
  width: 50px;
  height: 50px;
}
.navbar-list li.iq-nav-user {
  display: flex;
  align-items: flex-start;
}
.navbar-list li.iq-nav-user span {
  flex: 1;
  font-size: 14px;
}
.iq-breadcrumb {
  display: none;
}
.nav-item span.dots {
  height: 10px;
  width: 10px;
  font-size: 0;
  text-align: center;
  padding: 0;
  position: absolute;
  top: -4px;
  right: -2px;
  border: 2px solid var(--iq-white);
  animation: shadow-pulse-dots 1s infinite;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.nav-item span.count-mail {
  height: 10px;
  width: 10px;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
  padding: 0;
  position: absolute;
  top: -4px;
  right: -2px;
  border: 2px solid var(--iq-white);
  animation: shadow-pulse 1s infinite;
  border-radius: 50%;
}
@keyframes shadow-pulse-dots {
  0% {
      box-shadow: 0 0 0 0px rgba(230, 65, 65, 0.2);
 }
  100% {
      box-shadow: 0 0 0 15px rgba(230, 65, 65, 0);
 }
}
@keyframes shadow-pulse {
  0% {
      box-shadow: 0 0 0 0px rgba(230, 65, 65, 0.2);
 }
  100% {
      box-shadow: 0 0 0 15px rgba(230, 65, 65, 0);
 }
}
div#lottie-beil, div#lottie-mail, div#lottie-fullscreen {
  height: 20px;
  width: 20px;
}
div#lottie-beil svg path, div#lottie-mail svg path, div#lottie-fullscreen svg path {
  stroke: var(--iq-primary);
}
.navbar-list li .caption {
  line-height: 16px;
}
.navbar-list li .caption p {
  color: var(--iq-body-text);
  font-size: 12px;
}
.top-nav-bottom {
  margin-left: 260px;
  border-top: 1px solid var(--iq-light-primary);
}
.topnav-toolbar li a {
  display: block;
  padding: 10px 15px;
  text-transform: capitalize;
  color: var(--iq-secondary);
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.topnav-toolbar li.date-today {
  background: var(--iq-light);
}
.topnav-toolbar li.active a {
  background: var(--iq-light-primary);
  color: var(--iq-primary);
}
.topnav-toolbar ul li {
  list-style: none;
  padding: 13px 0;
}
.navbar-list li > .dropdown {
  line-height: 73px;
  cursor: pointer;
}
.iq-navbar-logo {
  padding: 15px;
  width: auto;
  position: relative;
  background: var(--iq-white);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background: transparent;
}
.iq-navbar-logo a {
  display: flex;
  align-items: flex-start;
}
.iq-navbar-logo a span {
  margin-left: 10px;
  font-size: 28px;
  line-height: 45px;
  color: var(--iq-body-text);
  text-transform: capitalize;
  flex: 1;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.iq-navbar-logo a:hover, .iq-navbar-logo a:focus {
  text-decoration: none;
}
.iq-navbar-logo img {
  height: 45px;
}
.iq-top-navbar .iq-navbar-custom .iq-menu-bt {
  display: none;
}
.iq-sidebar-logo {
  padding-top: 15px;
  padding-left: 20px;
  width: 260px;
  float: left;
  position: relative;
  background: var(--iq-white);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background: transparent;
}
.iq-sidebar-logo a {
  display: flex;
  align-items: flex-start;
}
.iq-sidebar-logo a span {
  margin-left: 10px;
  font-size: 28px;
  line-height: 45px;
  color: var(--iq-body-text);
  text-transform: lowercase;
  flex: 1;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.iq-sidebar-logo a:hover, .iq-sidebar-logo a:focus {
  text-decoration: none;
}
.iq-sidebar-logo img {
  height: 45px;
}
.iq-top-navbar .iq-navbar-custom .iq-menu-bt-sidebar .iq-menu-bt {
  display: block;
  margin: 0 0 0 20px;
}
body.sidebar-main .iq-menu-bt-sidebar .iq-menu-bt {
  opacity: 1;
}
.iq-menu-bt {
  padding: 12px 0;
  margin: 0 15px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.wrapper-menu {
  font-size: 20px;
  text-align: center;
  line-height: 15px;
  color: var(--iq-body-text);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}
.line-menu {
  background-color: var(--iq-primary);
  border-radius: 90px;
  width: 100%;
  height: 2px;
}
.line-menu.half {
  width: 50%;
}
.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.37, 0.37);
  transform-origin: right;
}
.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}
.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.37, 0.37);
  transform-origin: left;
}
.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}
.hover-circle {
  opacity: 0;
  position: absolute;
  top: 0;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50%;
}
.wrapper-menu.open .main-circle {
  opacity: 0;
}
.wrapper-menu.open .hover-circle {
  opacity: 1;
}
/*----------------------*/
.iq-top-navbar .iq-sub-dropdown {
  width: 300px;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  background-color: var(--iq-white);
  transition: all 0.3s;
  padding: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.iq-sub-dropdown.iq-sub-dropdown-large {
  width: 500px;
}
.iq-top-navbar .iq-sub-dropdown .iq-card-body div {
  border-radius: 5px 5px 0 0;
}
@-webkit-keyframes fade-in-bottom {
  0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
 }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
 }
}
@keyframes fade-in-bottom {
  0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
 }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
 }
}
.iq-show .iq-sub-dropdown {
  display: inline-block;
}
.navbar-list li .iq-sub-dropdown .iq-sub-card.iq-sub-card-big {
  width: auto;
}
.navbar-list li .iq-sub-dropdown .iq-sub-card {
  font-size: inherit;
  padding: 15px;
  line-height: normal;
  color: inherit;
  border-bottom: 1px solid var(--iq-light-primary);
  display: inline-block;
  width: 100%;
}
.iq-top-navbar .search-box {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  background-color: var(--iq-white);
  transition: all 0.3s;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.iq-show .search-box {
  display: inline-block;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.search-box .search-input {
  width: 300px;
  height: 50px;
  padding: 0 1em;
  border: 1px solid var(--iq-light-primary);
  background-color: var(--iq-light-primary);
  opacity: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.iq-sub-dropdown .iq-card-icon {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 22px;
}
.content-page {
  overflow: hidden;
  margin-left: 260px;
  padding: 105px 15px 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.iq-user-dropdown {
  width: 350px;
}
body.sidebar-main .content-page {
  margin-left: 80px;
}
.iq-card.iq-border-box {
  border-bottom: 4px solid;
}
.right-block .image-absulute.image-absulute-1 {
  position: absolute;
  top: 10px;
  left: auto;
  right: 240px;
}
.right-block .image-absulute.image-absulute-2 {
  position: absolute;
  left: auto;
  right: 330px;
  top: 30px;
}
.iq-right-fixed .iq-card .iq-card-header {
  border-color: rgba(255, 255, 255, 0.2);
}
.iq-box-relative {
  position: relative;
  overflow: hidden;
}
.iq-box-absolute {
  position: absolute;
  left: auto;
  right: -20px;
  top: -15px;
  line-height: 65px;
}
.iq-footer {
  background: var(--iq-light-card);
  padding: 15px;
  margin-left: 250px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
body.sidebar-main .iq-footer {
  margin-left: 80px;
}
.iq-footer ul li a {
  color: var(--iq-body-text);
}
